body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #8aadbd;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 250px;
}

#mensaje {
    color: green;
    font-weight: bold;
    margin-top: 15px;
}

#btnGuardar {
    background-color: #4db139;
    color: white;
    border: none;
    cursor: pointer;
}